<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    
    <!--katmana ilişkin tablo adı-->
    <add key="metaTableName" value="ANIT" />
    
    <!--tablodaki aktif kayıtları bulmak için-->
    <add key="tableCriteria" value="GEO_DURUM = 1" />
    
    <!--kurum yetkili kişisinin adı-->
    <add key="organizationEmail" value="yasingulbay@gmail.com" />
    
    <!--Kurum adı-->
    <add key="organizationName" value="Kültür ve Turizm Bakanlığı" />
    
    <!--örn: E:\netcadweb\metadata için "E:\\netcadweb\\metadata" yazınız-->
    <add key="metaDataFolder" value="GENERATEDXML" />

    <!--SQL Server için Bağlantı Cümleciği-->
    <add key="SQLServer" value="Data Source=192.168.30.138;Initial Catalog=TUES;User id=sa;Password=Ankara123;" />
    
  </appSettings>    
  
</configuration>